.container {
    width: 100%;
    background-color: #ffffff;
}

.green_csreen {
    width: 100%;
    height: 100vh;
    background: #00D679;
    display: flex;
    align-items: center;
}

.food_back {
    width: 85em;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green_csreen_row {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create_with_us_container {
    padding: 5em 0;
}

.create_with_us {
    color: #161616;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-bottom: 2em;
    max-width: 50%;
    text-align: center;
}

.tbl {
    /* max-width: 70%; */
    width: 70%;
    margin: auto;
}

th {
    width: 50%;
}


th {
    vertical-align: middle;
    /* text-align: left; */
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.column > .block_text_name {
    text-align: left;
    font-weight: 600;
    font-size: 2.7em;
    border-bottom: 5px solid #00D679;
    padding-bottom: 0.1em;
    width: fit-content;
    margin-bottom: 0.5em;
    color: #00D679;
}

.column > .block_text {
    font-weight: 500;
    font-size: 1.3em;
    text-align: left;
    /* max-width: 70%; */
    min-width: 17em;
    max-width: 24em;
}

.cont_img {
    width: 80%;
    margin: auto;
}

.site {
    font-size: 5em;
    color: #ffffff;
    margin-bottom: 0.3em;
    font-weight: 700;
}

.this_is_easy {
    padding: 0.5em 2.5em;
    font-size: 3em;
    color: #00D679;
    background-color: #ffffff;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {

    .cont_img {
        visibility: hidden;
    }

    .column > .block_text_name {
        font-size: 1.5em;
    }

    .column > .block_text {
        font-size: 0.8em;
    }

    .create_with_us {
        font-size: 1.2em;
        max-width: 90%;
    }

    .site {
        font-size: 3.3em;
    }

    .this_is_easy {
        font-size: 2em;
        padding: 0.4em 2.2em;
    }

    .create_with_us_container {
        padding: 1em;
    }
}








.cont_1_text {
    font-weight: 500;
    font-size: 1.3em;
    max-width: 60%;
}



.cont_2 {
    margin-top: 3em;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 12em;
}

.cont_2_small {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* padding: 1em 6em; */
    margin: auto;
}

.cont_2_small_text {
    text-align: left;
    /* text-decoration: underline; */
    font-weight: 600;
    font-size: 2.7em;
    border-bottom: 5px solid #00D679;
    padding-bottom: 0.1em;
    width: fit-content;
    margin-bottom: 0.5em;
    color: #00D679;
}

.cont_2_text {
    font-weight: 500;
    font-size: 1.3em;
}

.cont_2_img {
    width: 35%;
    margin: auto;
}




/* .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    background-color: #ffffff;
    max-width: 30em;
    min-width: 18em;
    margin: auto;
}

.logo {
    background-color: rgb(126, 138, 246);
    margin: 1em;
    padding: 0.3em 0.9em;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3em;
}

.sp {
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.we_offer {
    background-color: rgb(126, 138, 246);
    margin: 1em;
    padding: 0.2em 0.7em;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
}

.numberCircle {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    padding: 6px;

    background: rgba(0, 0, 0, 0);
    border: 3px solid #666;
    border-color: rgb(126, 138, 246);;
    color: rgb(126, 138, 246);
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    margin-bottom: 0.7em;
}

.menu_img {
    width: 100%;
}

.try_here {

    width: 100%;
}

.link {
    font-weight: bold;
    font-size: 1em;
    color: rgb(126, 138, 246);
    text-decoration: underline;
}

.call_me {
    margin-top: 2em;
    font-weight: 600;
    font-size: 0.8em;
}

.num {
    margin-top: 0.2em;
    font-size: 0.9em;
}

.num_mail {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
} */