.block {
    width: 100%;
    background: #E2E2E2;
    margin-top: 0.1em;
}

.block_name {
    font-weight: 600;
    font-size: 0.95em;  
    color: #363636;
    margin: 0.8em 1.5em;
}

.meal_block {
    background: #ffffff;
    margin-top: 0.1em;
    height: auto;
    padding: 1em;
}

.name_price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.9em;
    color: #363636;
}

.ingredients {
    margin: 0.2em;
    font-size: 0.8em;
    font-weight: 100;
} 
