.block {
    font-family: 'Lato', sans-serif;
    width: 90%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 0.6em 0;
    max-width: 500px;
    min-width: 300px;
    background-color: #ffffff;
    padding-bottom: 0.6em;
    -webkit-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.15);
    background-position: center; 
    background-size: 7em;
}

.block_name {
    font-size: 1.4em;
    font-weight: 400;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    justify-content: space-between;
    margin: 0 0.6em;
}

.product .name {
    font-weight: bold;
    font-size: 0.9em;
    white-space: nowrap;
}

.product .price {
    font-weight: bold;
    font-size: 0.9em;
}

.product .dots {
    height: 100%;
    border: 1px #000000;
    border-style: none none dotted none;
    width: 100%;
    margin: 0 0.2em;
    margin-top: auto;
    margin-bottom: 0.2em;
}

.ingredients {
    margin: 0 1em;
    margin-bottom: 0.4em;
    color: #404040;
    font-style: italic;
    line-height: 100%;
    font-size: 0.8em;
}

.small_name {
    margin-top: 0.2em;
    display: flex;
    justify-content: center;
}

.price_label {
    display: flex;
    display: -webkit-box;
    -webkit-box-pack: end;
    -webkit-box-align: end;
    justify-content: right;
    /* -webkit-justify-content: ; */
    margin: 0 0.4em;
    color: #404040;
    font-style: italic;
    font-size: 0.8em;
}